# dotfiles except allowed
.*
!.gitignore
!.editorconfig
!.eslintrc.yml
!.eslintignore
!.prettierignore
!.babelrc
!.releaserc
!.travis.yml

# dependencies
node_modules/

# build output
lib/
coverage/

# lock files
yarn.lock
